body {
    background-image: url('../images/fond_golf.jpg');
    background-repeat: no-repeat; /* Pour éviter que l'image ne se répète */
}

h1 {
    color: white;
    text-align: center;
}

#balle_de_golf {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

/* Style général de la boutique */
.bg-alpha{
    background-color: rgba(125,125,125,0.5);
}

.boutique {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto; /* Ajoute une barre de défilement vertical si nécessaire */
    height: calc(100vh - 150px);
}

/* Style des cartes d'objets */
.card {
    display: flex;
    border: 2px solid gray;
    margin: 3px;
    width: 90%;
    background-image: url("../images/pelouse.jpg");
    border-radius: 10px; /* Bordure arrondie de la carte */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre de la carte */
    cursor: pointer;
    transition: box-shadow ease-in-out 0.2s;
    transition: filter ease-in-out 0.2s;
    
}
     
.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    filter: brightness(1.2);
}
    
/* Style des images des objets */
.card-image {
    width: 35%;
    object-fit: contain;
    margin: auto;
    max-height: 95px;
}

/* Style des informations sur l'objet */
.info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 30%;
    margin-top: 10px;
}

/* Style du nom de l'objet */
.name {
    font-weight: bold;
}

/* Style du coût de l'objet */
.cost {
    color: #007bff; /* Couleur du texte pour le coût de l'objet */
}

/* Style de la quantité de l'objet */
.quantity {
    display: flex;
    margin-top: 5px;
    width: 30%;
    align-items: center;
}